* {
  margin: 0;
  padding: 0;
}

main {
  background-image: url("/imagens/fundo.jpg");
  background-size: cover;
}

.pagina {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.formulario{
  color: bisque;
  background-color:#23232e;

  padding: 10px;
  width: 300px;
  height: 320px;

  display:block;
  border: 2px solid bisque;
  border-radius: 10px;
  
}

textarea{
  width: 170;
  height: 100px;
}
.formulario p {
  width: 170px;
  margin: auto;
  margin-top: 15px;
}

.formulario button{
  height: 20px;
  width: 80px;
  border:none;
  color: black;
}

#enviar{ 
  background-color: greenyellow;
  opacity: 0.7;
}

#limpar{
  background-color: red;
  opacity: 0.7;
}

#idVoltar {
  border: none;
  text-decoration:none;
  margin-top: 5px;
  margin-left: 40px;
}

#limpar:hover {
  opacity: 1;
  
}

#enviar:hover {
  opacity: 1;

}



