* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{ 
  background-color:gainsboro;
  
}

a{
  color: white;
  text-decoration:none ;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  background:#23232e;
  height: 10vh; /* se adapta a altura de tela do usuário*/
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;

}

@media (max-width: 999px){

  body {
    overflow-x: hidden;
  }
  .nav-list{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;

  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }  
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-8px,8px);
}
.mobile-menu.active .line2 {
opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px,-7px);
}

/*======= conteúdo =========*/

main {
  padding-top: 10%;
}

.conteudo {
  
  text-align: justify;
  background-color: #23232e;
  color: white;
  width: 50vw;

  margin: auto;
  padding: 70px;

  margin-bottom: 100px;

  line-height: 30px;

  font-size: 18px;

  box-shadow: 15px 15px 10px gray;
}

.conteudo h2 {
  text-align: center;
  margin: 15px;

  margin-bottom: 30px;
}

.conteudo h3 {
  margin: 20px;
}

.conteudo p {
  text-indent: 30px;
}

.lista li {
  text-indent: 60px;
}

footer {
  background-color: #23232e;
  color: white;

  padding: 30px;

  font-family: Arial, Helvetica, sans-serif;
}

footer p {
  margin: 5px;
}

#subir {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#subir.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}